In [2]:
import pandas as pd

In [21]:
df = pd.read_json('../data/Archive_Sofia_stations_RAW.json')
df.columns = df.iloc[0] # set first row as header
df = df.iloc[1: , :] # drop header
df

0                     timest station param   level isinvalid
1        2016-01-20 16:00:00       1     1   81.79         0
2        2016-01-20 16:00:00       2     1  106.47         0
3        2016-01-20 16:00:00       3     1  121.81         0
4        2016-01-20 16:00:00       4     1  140.35         0
5        2016-01-20 16:00:00       5     1   25.27         0
...                      ...     ...   ...     ...       ...
1252194  2018-06-19 10:00:00       5    10       0         0
1252195  2018-06-19 10:00:00       5    11       0         0
1252196  2018-06-19 10:00:00       6     9       0         0
1252197  2018-06-19 10:00:00       6    10       0         0
1252198  2018-06-19 10:00:00       6    11       0         0

[1252198 rows x 5 columns]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1252198 entries, 1 to 1252198
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   timest     1252198 non-null  object
 1   station    1252198 non-null  object
 2   param      1252198 non-null  object
 3   level      1252198 non-null  object
 4   isinvalid  1252198 non-null  object
dtypes: object(5)
memory usage: 47.8+ MB

No NaN values in the dataset.

In [23]:
df.value_counts(['isinvalid'])

isinvalid
0            1241655
1              10543
dtype: int64