In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/Archive_Sofia_stations_processed.csv')
df

,timest,station,param,level,station_name,longitude,latitude,param_name
0,2016-01-20 16:00:00,1,1,81.79,Druzhba,23.400164,42.666508,NO2
1,2016-01-20 16:00:00,2,1,106.47,Nadezhda,23.310972,42.732292,NO2
2,2016-01-20 16:00:00,3,1,121.81,Krasno selo,23.400164,42.666508,NO2
3,2016-01-20 16:00:00,4,1,140.35,Pavlovo,23.268403,42.669797,NO2
4,2016-01-20 16:00:00,5,1,25.27,Kopitoto,23.268403,42.669797,NO2
...,...,...,...,...,...,...,...,...
1241650,2018-06-19 10:00:00,5,10,0.00,Kopitoto,23.268403,42.669797,Sun radiation
1241651,2018-06-19 10:00:00,5,11,0.00,Kopitoto,23.268403,42.669797,Temperature
1241652,2018-06-19 10:00:00,6,9,0.00,Mladost,23.383271,42.655488,Wind
1241653,2018-06-19 10:00:00,6,10,0.00,Mladost,23.383271,42.655488,Sun radiation
1241654,2018-06-19 10:00:00,6,11,0.00,Mladost,23.383271,42.655488,Temperature

In [4]:
sample = df.sample(n=5000)
sample

,timest,station,param,level,station_name,longitude,latitude,param_name
1008394,2018-01-14 07:00:00,1,8,955.97,Druzhba,23.400164,42.666508,Atmospheric pressure
202812,2016-06-12 20:00:00,4,2,1.37,Pavlovo,23.268403,42.669797,NO
285097,2016-09-04 15:00:00,6,11,28.66,Mladost,23.383271,42.655488,Temperature
810314,2017-08-28 20:00:00,2,11,27.57,Nadezhda,23.310972,42.732292,Temperature
439587,2016-12-15 22:00:00,3,1,22.25,Krasno selo,23.400164,42.666508,NO2
...,...,...,...,...,...,...,...,...
1237682,2018-06-16 04:00:00,4,10,16.67,Pavlovo,23.268403,42.669797,Sun radiation
301882,2016-09-15 16:00:00,4,1,29.00,Pavlovo,23.268403,42.669797,NO2
343551,2016-10-13 10:00:00,4,4,0.43,Pavlovo,23.268403,42.669797,CO
1053389,2018-02-13 11:00:00,4,5,8.24,Pavlovo,23.268403,42.669797,O3
751382,2017-07-20 20:00:00,5,5,91.15,Kopitoto,23.268403,42.669797,O3

In [6]:
sample.to_csv('../data/sample.csv', index=False)