In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('../data/Archive_Sofia_stations_processed.csv')
df

,timest,station,param,level,station_name,longitude,latitude,param_name
0,2016-01-20 16:00:00,1,1,81.79,Druzhba,23.400164,42.666508,NO2
1,2016-01-20 16:00:00,2,1,106.47,Nadezhda,23.310972,42.732292,NO2
2,2016-01-20 16:00:00,3,1,121.81,Krasno selo,23.296786,42.680558,NO2
3,2016-01-20 16:00:00,4,1,140.35,Pavlovo,23.268403,42.669797,NO2
4,2016-01-20 16:00:00,5,1,25.27,Kopitoto,23.243864,42.637192,NO2
...,...,...,...,...,...,...,...,...
1241650,2018-06-19 10:00:00,5,10,0.00,Kopitoto,23.243864,42.637192,Sun radiation
1241651,2018-06-19 10:00:00,5,11,0.00,Kopitoto,23.243864,42.637192,Temperature
1241652,2018-06-19 10:00:00,6,9,0.00,Mladost,23.383271,42.655488,Wind
1241653,2018-06-19 10:00:00,6,10,0.00,Mladost,23.383271,42.655488,Sun radiation
1241654,2018-06-19 10:00:00,6,11,0.00,Mladost,23.383271,42.655488,Temperature

In [9]:
sample = df.sample(n=5000)
sample

,timest,station,param,level,station_name,longitude,latitude,param_name
926886,2017-11-17 05:00:00,2,7,86.30,Nadezhda,23.310972,42.732292,Humidity
899255,2017-10-29 20:00:00,4,9,5.19,Pavlovo,23.268403,42.669797,Wind
792578,2017-08-16 23:00:00,4,7,56.50,Pavlovo,23.268403,42.669797,Humidity
246711,2016-08-08 02:00:00,6,11,18.75,Mladost,23.383271,42.655488,Temperature
197752,2016-06-07 12:00:00,1,11,0.00,Druzhba,23.400164,42.666508,Temperature
...,...,...,...,...,...,...,...,...
327811,2016-10-03 00:00:00,4,2,1.76,Pavlovo,23.268403,42.669797,NO
285742,2016-09-05 01:00:00,1,3,0.72,Druzhba,23.400164,42.666508,C6H6
251041,2016-08-11 02:00:00,4,11,19.05,Pavlovo,23.268403,42.669797,Temperature
143525,2016-04-24 14:00:00,4,6,3.68,Pavlovo,23.268403,42.669797,SO2
163611,2016-05-08 09:00:00,5,4,-0.11,Kopitoto,23.243864,42.637192,CO

In [10]:
sample.to_csv('../data/sample.csv', index=False)